{% extends 'base.html' %}

{% block content %}
{% if profile %}
<div class="container text-center">
    <div class="row">
        <h1>{{ profile.user.username }}'s Profile</h1>
        <div class="col-8">
            {% for timepost in timeposts %}
            <div class="card">
                {% if timepost.image %}
                <img src="{{ timepost.image.url }}" class="card-img-top" alt="Post image">
                <!-- I will add this later -->
                {% endif %}
                <div class="card-body">
                    <p class="card-text">{{ timepost.body }} <br></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted ether-side">
                        <small><a href="{% url 'like' timepost.id %}">Likes: </a>
                            {{ timepost.number_of_likes }}</small>
                        <small><a href="{% url 'dislike' timepost.id %}">Dislikes:
                            </a>{{ timepost.number_of_dislikes }}</small>
                    </li>
                    <li class="list-group-item text-muted ether-side">
                        <small>Made at {{ timepost.created_at|date:"H:i Y-m-d" }}</small>
                        <small>Made by <a href="{% url 'profile' timepost.user.id %}">{{ timepost.user }}</a></small>
                    </li>
                </ul>
            </div>
            <br>
            {% endfor %}
        </div>
        <div class="col-4">
            <div class="card mb-3">
                <div class="card-header">
                    <strong>Follows</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {% for following in profile.follow.all|slice:6 %}
                        {% if following != profile %}
                        <a href="{% url 'profile' following.user.id %}">{{ following }}</a>
                        {% if user == profile.user %}
                        <a class="unfollow" href="{% url 'unfollow' following.user.id %}"><i
                                class=" fa-solid fa-user-minus"></i></a>
                        {% endif %}
                        <br>
                        {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'follows' profile.user.id %}">See All...</a>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <strong>Followed By</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {% for following in profile.followed_by.all %}
                        {% if following != profile %}
                        <a href="{% url 'profile' following.user.id %}">{{ following }}</a>
                        {% if user == profile.user %}
                        {% if following not in user.profile.follow.all %}
                        <a class="follow" href="{% url 'follow' following.user.id %}">
                            <i class="fa-solid fa-user-plus"></i>
                        </a>
                        {% else %}
                        <a class="unfollow" href="{% url 'unfollow' following.user.id %}"><i
                                class=" fa-solid fa-user-minus"></i></a>
                        {% endif %}
                        {% endif %}
                        <br>
                        {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'followers' profile.user.id %}">See All...</a>
                </div>
            </div>
            {% if profile.user == user %}
            {% else %}
            <form method="POST">
                {% csrf_token %}
                {% if profile in user.profile.follow.all %}
                <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">Unfollow
                    {{ profile.user.username|lower }}</button>
                {% else %}
                <button class="btn btn-outline-success" name="follow" value="follow" type="submit">Follow
                    {{ profile.user.username|lower }}</button>
                {% endif %}
            </form>
            {% endif %}
            <br>
            {% if profile.user == user %}
            <a href="{% url 'edit_profile' %}" class="btn btn-outline-secondary">Update Profile</a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}