{% extends 'base.html' %}

{% block content %}
{% if profile %}
<div class="container text-center">
    <div class="row">
        <div class="col-8">
            <h1>{{ profile.user.username }}'s Profile</h1>
            <br>
            {% if timeposts %}
            {% for timepost in timeposts %}
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>

                    <p class="card-text">{{ timepost }} <br></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>
            <br>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <strong>Follows</strong><br>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {% for following in profile.follow.all %}
                        <a href="{% url 'profile' following.user.id %}">{{ following }}</a><br>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <br><br>
            <div class="card">
                <div class="card-header">
                    <strong>Followed By</strong><br>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {% for following in profile.followed_by.all %}
                        <a href="{% url 'profile' following.user.id %}">{{ following }}</a><br>
                        {% endfor %}
                    </p>
                </div>
            </div><br>
            <form method="POST">
                {% csrf_token %}
                {% if profile in user.profile.follow.all %}
                <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">Unfollow</button>

                {% else %}
                <button class="btn btn-outline-success" name="follow" value="follow" type="submit">Follow</button>

                {% endif %}

            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}