{% extends 'base.html' %}

{% block content %}
<!-- Main container for search results -->
<div class="container my-4">
    <!-- Title -->
    <h1 class="text-center">Search Results</h1>

    <!-- Display the search query -->
    <p class="text-center">Results for: <br>
        <strong>{{ query }}</strong> <!-- Bold display of the search query -->
    </p>

    <!-- Check if there are any search results -->
    {% if results %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <ul class="list-group">
                <!-- Loop through each profile in the search results -->
                {% for profile in results %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <!-- Profile link -->
                    <a href="{% url 'profile' profile.user.id %}"
                        aria-label="View profile of {{ profile.user.username }}">
                        {{ profile.user.username }}
                    </a>
                    <!-- Additional icon to visually indicate a profile link -->
                    <i class="fa-solid fa-arrow-right"></i>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <!-- Display a message if no users are found -->
    <p class="text-center">No users found for your query.</p>
    {% endif %}
</div>
{% endblock %}