{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <h1>Search Results</h1>
    <p>Results for: <br>
        <strong>{{ query }}</strong></p> <!-- Display the search query -->
    {% if results %}
    <ul class="list-group">
        {% for profile in results %}
        <li class="list-group-item">
            <a href="{% url 'profile' profile.user.id %}">{{ profile.user.username }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No users found.</p>
    {% endif %}
</div>
{% endblock %}