{% load static %}


<!-- Footer -->
<footer>
    <a class="gh-icon" href="https://github.com/" target="_blank" rel="noopener"
        aria-lable="Github - Opens in a new tab">
        <i class="fa-brands fa-github fa-xl"></i></a>
    <a class="li-icon" href="https://www.linkedin.com/" target="_blank" rel="noopener"
        aria-lable="Linkedin - Opens in a new tab">
        <i class="fa-brands fa-linkedin fa-xl"></i></a>
    <a class="yt-icon" href="https://www.youtube.com/" target="_blank" rel="noopener"
        aria-lable="Youtube - Opens in a new tab">
        <i class="fa-brands fa-youtube fa-xl"></i></a>
</footer>