{% extends 'base.html' %}

{% block content %}
<!-- Container for the registration form, centered on the page -->
<div class="col-md-6 offset-md-3">
    <h1>Register</h1>
    <br>

    <!-- Start of the registration form -->
    <form method="POST" action="{% url 'register' %}">
        <!-- CSRF token for security -->
        {% csrf_token %}

        <!-- Display non-field form errors (like password mismatches) -->
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <ul>
                <!-- Loop through each field in the form -->
                {% for field in form %}
                {% if field.name != 'usable_password' %}
                <!-- Display errors specific to the field -->
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endif %}
                {% endfor %}

                <!-- Display non-field errors -->
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Loop through each field in the form to render them -->
        {% for field in form %}
        {% if field.name != 'usable_password' %}
        <div class="form-group">
            <!-- Label for the field -->
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>

            <!-- Render the field itself (input, select, etc.) -->
            {{ field }}

            <!-- Display help text if available -->
            {% if field.help_text %}
            <div id="{{ field.id_for_label }}_help" class="form-text text-muted">
                {{ field.help_text|safe }}
            </div>
            {% endif %}

            <!-- Display field-specific errors if they exist -->
            {% if field.errors %}
            <div class="text-danger">
                <ul>
                    {% for error in field.errors %}
                    <li><small>{{ error }}</small></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}

        <br>
        <!-- Submit button for the form -->
        <button type="submit" class="btn btn-secondary graybutton" aria-label="Register account">Register</button>
    </form>
</div>
{% endblock %}