@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400;500;&family=SUSE:wght@100..800&display=swap');

/* Variables */
:root {
    /* Fonts */
    --titel: 'SUSE', sans-serif;
    /* Corrected to 'title' for consistency */
    --main-font: 'Roboto', sans-serif;

    /* Colors */
    --gray: darkgray;
    --black: black;
    --white: white;

    /* Utils */
    --top-shadow: 1px -1px 5px 0 var(--black);
    /* Shadow above elements */
    --bottom-shadow: -1px 1px 5px 0 var(--black);
    /* Shadow below elements */
    --border: 1px solid var(--gray);
    /* Border color */
}

/* Ensure there's no default margin on body */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
}

/* Allow main content to grow and shrink */
main {
    flex: 1 0 auto;
}

/* Title Font */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--titel);
}

/* Navbar */
.navbar-custom {
    background-color: var(--gray);
    box-shadow: var(--bottom-shadow);
    margin-bottom: 20px;
}

/* Navbar underline for active link */
.active {
    border-bottom: 2px solid var(--black);
    font-weight: 500;
}

/* Text alignment at Ether Side */
.ether-side {
    display: flex;
    justify-content: space-between;
}

/* Button hover effects */
.btn-danger:hover {
    background-color: white;
    color: #dc3545;
}

.btn-warning:hover {
    background-color: white;
    color: black;
}

.timepost:hover {
    background-color: white;
    color: #6c757d;
    border: 1px solid #6c757d;
}

.comment:hover {
    background-color: white;
    color: #0056b3;
    border: 1px solid #0056b3;
}

/* Hide elements */
.form-hidden {
    display: none;
}

/* Unfollow and Follow button styles */

/* Apply red color for unfollow */
.unfollow-button {
    color: red;
}

/* Apply green color for follow */
.follow-button {
    color: green;
}

/* Ensure the forms display inline with buttons styled correctly */
.follow-form,
.unfollow-form {
    display: inline;
}


/* Form styling */
.form {
    width: 100%;
    margin: 3% auto;
    border-radius: 5px;
    box-shadow: var(--top-shadow);
}

/* Footer */
footer {
    margin-top: 20px;
    text-align: center;
    background-color: var(--gray);
    box-shadow: var(--top-shadow);
    width: 100%;
    flex-shrink: 0;
    /* Prevent footer from shrinking */
}

/* Font Awesome Icon Styles */
.fa-brands {
    padding: 10px 0;
    margin: 15px;
}

/* GitHub icon color */
.gh-icon {
    color: black;
}

/* Change color on hover */
.gh-icon:hover {
    color: white;
}

/* LinkedIn icon color */
.li-icon {
    color: #0A66C2;
}

/* Change color on hover */
.li-icon:hover {
    color: white;
}

/* YouTube icon color */
.yt-icon {
    color: red;
}

/* Change color on hover */
.yt-icon:hover {
    color: white;
}